body {
	margin: 0;
	padding: 0;
	color: rgb(231, 233, 234);
	font-size: 24px;
	font-family: "TwitterChirpExtendedHeavy", "Verdana", -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	overflow: hidden;
	overflow-wrap: break-word;
}
.main {
	display: flex;
	height: 100vh;
}
.container-left {
	max-width: 50%;
	width: 50%;
	background-image: url(https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png);
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: center;
}
#twitter-logo-big {
	fill: rgb(255, 255, 255);
	width: 346px;
}
.container-right {
	width: 50%;
	max-width: 50%;
	background-color: black;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: baseline;
	padding-left: 35px;
}
h1 {
	font-size: 64px;
	font-weight: 700;
}
h2 {
	font-size: 31px;
	font-weight: 700;
}
.btn-items {
	width: 300px;
	height: 40px;
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
}
#twitter-logo-small {
	width: 3rem;
	fill: rgb(214, 217, 219);
}
#btn-google {
}
#btn-apple {
}
#btn-email {
}
#btn-sign-in {
	background-color: rgb(29, 155, 240);
	border-color: rgba(0, 0, 0, 0);
}
footer {
	position: absolute;
	background-color: rgb(22, 24, 28);
	bottom: 0;
}
footer a {
	font-family: inherit;
	overflow-wrap: break-word;
	color: rgb(113, 118, 123);
	font-size: 13px;
}
footer a:hover {
	cursor: pointer;
	text-decoration: underline;
}
